#gameHolder {
  display: flex;
  flex-direction: column;
}

#artistsHolder, #songsHolder, #gameInfoHolder, #resetGame {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20pt;
  text-align: center;
}

#songsHolder {
  flex-direction: column;
}

.artistHolder {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 1pt;
  cursor: pointer;
}

.incorrectlyGuessedArtist {
  outline: 2pt solid red;
}

.winningArtist {
  outline: 2pt solid green;
}

.audioHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 30pt;
}

.songInfo {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
}

.songName {
  margin: auto;
  margin-left: 10pt;
  margin-right: 10pt;
}

.audioPlayer {
  margin: auto;
  flex-grow: 2;
}

.songPic {
  border: 1pt solid #333;
  margin: 10pt;
}