#gameHolder {
  display: flex;
  flex-direction: column;
}

#artistsHolder, #songsHolder, #gameInfoHolder, #resetGame {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20pt;
  text-align: center;
}

#artistsHolder {
  flex-wrap: wrap;
}

#gameInfoHolder {
  margin-top: 0;
}

#songsHolder {
  flex-direction: column;
}

.artistHolder {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 1pt;
  cursor: pointer;
}

.artistHolder {
  flex-wrap: wrap;
  padding: 10pt;
  border: 1pt solid white;
  box-shadow: 0 0 5px 1px rgba(107, 101, 101, 0.35);
  margin: 10pt;
  min-height: 100pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artistHolder:hover {
  border: 1pt solid gray;
}

.artistHolder > * {
  margin: 10pt;
}


.incorrectlyGuessedArtist {
  outline: 2pt solid red;
}

.winningArtist {
  outline: 2pt solid green;
}

.audioHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 30pt;
  margin-bottom: 20pt;
}

.songInfo {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
}

.songName {
  margin: auto;
  margin-left: 10pt;
  margin-right: 10pt;
}

.audioPlayer {
  margin: auto;
  flex-grow: 2;
}

.songPic {
  border: 1pt solid #333;
  margin: 10pt;
}